@import "style";
.culture {
    background-color: #EFEFEF;
    height: 600px;
    &__wrap {
        display: flex;
        justify-content: center;
        height: 600px;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    &__block {

        display: flex;
        flex-direction: column;
        max-width: 700px;
        gap: 20px;
    }
    &__title {
        color: $base_color;
        font-family: $base__font;
        font-size: 62px;
    }
    &__text {
        font-family: $base__font;
        font-size: 25px;
        max-width: 600px;
        line-height: 40px;
    }
    &__img {
        max-width: 500px;
        img {
            width: 100%;
        }
    }
}